name: Daily Law Update

on:
  workflow_dispatch:
  schedule:
    - cron: '0 19 * * *' # 한국 시간 새벽 4시

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Repository
        uses: actions/checkout@v3

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.9'

      - name: Install dependencies
        run: pip install requests

      - name: Run Law Update Script
        run: |
          # laws 폴더가 없으면 미리 생성 (스크립트 에러 방지)
          mkdir -p laws
          python update_laws.py
        env:
          LAW_API_KEY: ${{ secrets.LAW_API_KEY }}

      - name: Commit and Push Laws
        run: |
          git config --global user.name "AutoUpdater"
          git config --global user.email "auto@updater.com"
          git add laws/  # laws 폴더 내의 변경사항만 집중적으로 추가
          git commit -m "Update laws: $(date +'%Y-%m-%d')" || exit 0
          git push

      # (선택 사항) GitHub UI에서 직접 zip 파일로 다운로드하고 싶을 때 사용
      - name: Upload Laws Artifact
        uses: actions/upload-artifact@v4
        with:
          name: law-files-snapshot
          path: laws/

      - name: Get File List
        run: |
          # 업로드할 파일 목록을 한 줄로 만들어서 환경 변수에 저장
          echo "FILES=$(find laws -type f | tr '\n' ',' | sed 's/,$//')" >> $GITHUB_ENV

      - name: Upload Laws-Folder to Google Drive
        uses: adityak74/google-drive-upload-git-action@main
        with:
          credentials: ${{ secrets.GDRIVE_SA_JSON }}
          filename: ${{ env.FILES }} # 위에서 찾은 실제 파일 경로들을 직접 전달
          folderId: "16zT278nodzMpY-XIM3cn-fBAIrfR8I3Q"
          overwrite: true
          mirrorDirectoryStructure: true
